h1
{
    color: brown;
    text-align: center;
}
.elements
{
    display:flex;
    margin:auto;
    width: 180px;
    border: none;
}
.element
{
    width: 60px;
    font-size: 18px;
    font-style: italic;
    margin-right: 30px;
}
ul
{
    list-style: none;
    text-align: center;
    display: flex;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    height: 600px;

}
li
{
    width: 100%;
    color: beige;
    margin: auto;
}
li :hover
{
    font-weight: bold;
}
.datas-block
{
    width: 500px;
    height: 300px;
    background-color: black;
    color: white;
    font-style: italic;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.datas 
{   
    padding: 20px;
    font-size: 20px;
}
