{% extends 'base.html' %}

{% block content %}
<title>Holiday Homes</title>
<h1>Welcome to Holiday Homes</h1>
<div class = "elements">
<div class="element"><a href="{% url 'profiles_index' %}">Profiles</a></div>
<div class="element"><a href="{% url 'lettings_index' %}">Lettings</a></div>
</div>
{% endblock %}