{% extends 'base.html' %}

{% block content %}
<title>Lettings</title>
<h1>Lettings</h1>
{% if lettings_list %}
    <ul>
    {% for letting in lettings_list %}
        <li>
            <a href="{% url 'letting' letting_id=letting.id %}">
                {{ letting.title }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No lettings are available.</p>
{% endif %}
<div class = "elements">
<div class = "element"><a href="{% url 'index' %}">Home</a></div>
<div class = "element"><a href="{% url 'profiles_index' %}">Profiles</a></div>
</div>
{% endblock %}