{% extends 'base.html' %}

{% block content %}
<title>{{ title }}</title>
<h1>{{ title }}</h1>
<div class="datas-block">
<div class="datas">
<p>{{ address.number }} {{ address.street }}</p>
<p>{{ address.city }}, {{ address.state }} {{ address.zip_code }}</p>
<p>{{ address.country_iso_code }}</p>
</div>
</div>
<div class = "elements">
<div class = "element"><a href="{% url 'lettings_index' %}">Back</a></div>
<div class = "element"><a href="{% url 'index' %}">Home</a></div>
<div class = "element"><a href="{% url 'profiles_index' %}">Profiles</a></div>
</div>
{% endblock %}