{% extends 'base.html' %}

{% block content %}
<title>Profiles</title>
<h1>Profiles</h1>
{% if profiles_list %}
    <ul>
    {% for profile in profiles_list %}
        <li>
            <a href="{% url 'profile' username=profile.user.username %}">
                {{ profile.user.username }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No profiles are available.</p>
{% endif %}
<div class = "elements">
<div class = "element"><a href="{% url 'index' %}">Home</a></div>
<div class = "element"><a href="{% url 'lettings_index' %}">Lettings</a></div>
</div>
{% endblock %}