{% extends 'base.html' %}

{% block content %}
<title>{{ profile.user.username }}</title>
<h1>{{ profile.user.username }}</h1>
<div class="datas-block">
<div class="datas">
<p>First name: {{ profile.user.first_name }}</p>
<p>Last name: {{ profile.user.last_name }}</p>
<p>Email: {{ profile.user.email }}</p>
<p>Favorite city: {{ profile.favorite_city }}</p>
</div>
</div>
<div class = "elements">
<div class = "element"><a href="{% url 'profiles_index' %}">Back</a></div>
<div class = "element"><a href="{% url 'index' %}">Home</a></div>
<div class = "element"><a href="{% url 'lettings_index' %}">Lettings</a></div>
</div>
{% endblock %}